# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
.env.*
**/.env
**/.env.*

# Next.js
.next/

# Build outputs
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Coverage
coverage/

# Vercel
.vercel/
# connection String - postgresql://neondb_owner:npg_Uvrdi8un4bFS@ep-cool-art-ao0p1tbd.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
